<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.awesome.com/fontawesome/5.15.3/css/all.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js" integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

 <section class="myHeader bg-dark d-flex justify-content-center" style="border-radius:inherit">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 py-3">
                        <img src="/Image/logo.png" width="150"
                             class="d-inline-block align-text-top img-fluid" alt="Logo" />
                    </div>
                    <div class="col-md-7 py-2">
                        <div class="input-group mb-3">
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow" @onclick="ToggleNavMenu">
                                <div class="container">
                                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>
                                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                                        <ul class="navbar-nav flex-grow-1">
                                            <li class="nav-item">
                                        <a class="nav-link text-light" asp-area="" asp-controller="Multimodel" asp-action="Index"><i class="fas fa-home"></i> Trang chủ</a>
                                            </li>
                                            <li class="nav-item ">
                                                <NavLink class="nav-link" href="gioithieu">
                                                    <a class="nav-link text-light" aria-hidden="true"><i class="fas fa-info"></i> Giới thiệu</a>
                                                </NavLink>
                                            </li>
                                            <li class="nav-item">
                                                <NavLink class="nav-link" href="phimchuachieu">
                                                    <a class="nav-link text-light" aria-hidden="true"><i class="fa fa-film"></i> Phim chưa chiếu</a>
                                                </NavLink>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-light" asp-area="" asp-controller="Multimodel" asp-action="UuDai"><i class="fa fa-gift"></i> Ưu đãi</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Question"><i class="fas fa-question-circle"></i> Câu hỏi thường gặp</a>
                                            </li>
                                          
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-4 py-4">
                        <div class="row">
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="fs-3 text-warning">
                                            <i class="fas fa-headset"></i>
                                        </div>
                                    </div>
                                    <div class="col-9 text-white">
                                        Hotline:<br />
                                        <strong class="text-light">0956643564</strong>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 text-decoration-none">
                                <div class="row">
                                    <div class="col-3">
                                        <div class="fs-3 text-warning">
                                            <i class="far fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-9 text-white">
                                            <a class="text-light text-decoration-none" asp-controller="DangNhap" asp-action="Login">Đăng nhập</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

@* 
 <li class="nav-item ">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li> *@
