@page "/ghe"
@using ASM_CS6_AHTBCinemaPro_SD18301.Models
@using Newtonsoft.Json
@inject HttpClient Http

<h1>Danh sách ghế</h1>

@if (ghes == null)
{
    <p><em>Loading...</em></p>
}
else if (ghes.Count == 0)
{
    <p>No seats available.</p>
}
else
{
    <ul>
        @foreach (var ghe in ghes)
        {
            <li style="color: white;">@ghe.TenGhe</li>
        }
    </ul>
}

@code {
    private List<Ghe> ghes;

    protected override async Task OnInitializedAsync()
    {
        var respone = await Http.GetStringAsync("api/Ghe/GetGhe");
        ghes = JsonConvert.DeserializeObject<List<Ghe>>(respone);
    }
}
